<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:5056/">URLShortener</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
              <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item">
                      <a class="nav-link text-dark" href="http://localhost:5056/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" href="http://localhost:5056/Home/Privacy">Privacy</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="http://localhost:5056/Account/Logout">Log out</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" href="http://localhost:5056/About">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <table class="table table-bordered table-responsive table-hover">  
      <tr>  
        <th>URL Id </th>
        <th>Short URL </th>
        <th>FullURL </th>
        <th>Creator Id</th>
        <th>CreationDate</th>
      </tr>  
      <tr *ngFor="let item of urls">  
        <td>{{ item.id }}</td>
        <td>{{ item.shortedUrl }}</td>
        <td>{{ item.url }}</td>
        <td>{{ item.creatorId }}</td>
        <td>{{ item.creationDate }}</td>
        <a class="nav-link text-dark" href="http://localhost:5056/TableAndInfo/URLInfo/{{ item.id }}">Info</a>
      </tr>  
  </table>  
  </main>
</div>
<footer class="border-top footer text-muted">
  <div class="container">
      2023 - URLShortener - <a href="http://localhost:5056/Home/Privacy">Privacy</a>
  </div>
</footer>